/POO/Estudiantes/target/
/POO/IngresoDatosEstudiantes/target/
/POO/EstudiantesMejorado/target/
/POO/Parcial 2/Estudiantes/nbproject/private/
/POO/Parcial 2/Estudiantes/build/
/POO/Parcial 2/AplicacionEstudiantes/nbproject/private/
/POO/Parcial 2/AplicacionEstudiantes/build/
/POO/Parcial 2/AplicacionEstudiantes/dist/
/POO/Parcial 2/PruebaEC/target/
/POO/Parcial 2/dsada/nbproject/private/
/POO/Parcial 2/Transito_Proyecto/nbproject/private/
/BDD1/Proyecto_Final_BD1/nbproject/private/
/BDD1/Proyecto_Final_BD/nbproject/private/
/BDD1/Proyecto_Final_BD/build/
/BDD1/Proyecto_Final_BD/dist/
